In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
credentials = service_account.Credentials.from_service_account_file("account.json")
project_id = "bigquery-public-data"
client = bigquery.Client(project=project_id, credentials=credentials)

In [3]:
dataset_ref = client.dataset("hacker_news")

In [4]:
dataset = client.get_dataset(dataset_ref)

In [5]:
tables = client.list_tables(dataset)
for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [6]:
table_ref = dataset_ref.table("full")

In [7]:
table = client.get_table(table_ref)

In [8]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [9]:
client.list_rows(table, max_results=5).to_dataframe()

/Users/hungqd/.pyenv/versions/3.8.6/lib/python3.8/site-packages/google/cloud/bigquery/table.py:1765: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  if not self._validate_bqstorage(bqstorage_client, create_bqstorage_client):

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,Depends on the country though. Those mussels w...,None,lostlogin,NaN,1527294318,2018-05-26 00:25:18+00:00,comment,17159299,17158003,NaN,NaN,None
1,None,None,This Xbox service runs on Kubernetes: <a href=...,None,bureado,NaN,1589312993,2020-05-12 19:49:53+00:00,comment,23158840,23158183,NaN,NaN,None
2,None,None,If anyone has topics they'd like to hear more ...,None,pskomoroch,NaN,1355338594,2012-12-12 18:56:34+00:00,comment,4911808,4908392,NaN,NaN,None
3,None,None,&quot;It&#x27;s called a 0-day because (typica...,None,greedo,NaN,1376586308,2013-08-15 17:05:08+00:00,comment,6219201,6218893,NaN,NaN,None
4,None,None,Protonmail.,None,joering2,NaN,1538090848,2018-09-27 23:27:28+00:00,comment,18089775,18088993,NaN,NaN,None